{{ partial "header.html" (dict "context" . "showmap" 1) }}
{{ partial "site-header.html" .}}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div id="travelmap" style="height: 440px; border: 1px solid #AAA;"></div><br>
              {{ .Content }}
              {{ range first 10 .Site.Taxonomies.tags.rtw.Pages }}
                  {{ .Render "summary"}}
              {{ end }}
              <!-- Pager -->
              <ul class="pager">
              <li class="next">
                  <a href="{{ absURL "/tags/rtw/" }}">Archiv &rarr;</a>
              </li>
              </ul>
            </div>
        </div>
    </div>
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/nc-tracker/markers.js"></script>
<script>
    var mymap = L.map('travelmap').setView([markers[markers.length-1].lat, markers[markers.length-1].lng], 3);
    L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']
}).addTo( mymap );

    var greenIcon = new L.Icon({
        iconUrl: '{{ .Site.BaseURL }}/img/marker/marker-icon-2x-green.png',
        shadowUrl: '{{ .Site.BaseURL }}/img/marker/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
        });
    var orangeIcon = new L.Icon({
        iconUrl: '{{ .Site.BaseURL }}/img/marker/marker-icon-2x-orange.png',
        shadowUrl: '{{ .Site.BaseURL }}/img/marker/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
        });
    for ( var i=0; i < markers.length; ++i ) 
    {
        if (i==markers.length-1) {
            L.marker( [markers[i].lat, markers[i].lng], {icon: greenIcon, zIndexOffset: 1000} )
            //.bindPopup( '<a href="' + markers[i].url + '" target="_blank">' + markers[i].name + '</a>' )
                .addTo( mymap );
        }
        else {
            L.marker( [markers[i].lat, markers[i].lng], {icon: orangeIcon} )
            //.bindPopup( '<a href="' + markers[i].url + '" target="_blank">' + markers[i].name + '</a>' )
                .addTo( mymap );
        }
    }
</script>
{{ partial "footer.html" . }}
