{{ partial "header.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="intro-header lazyload" data-bgset="{{ .Site.Params.Imgurl }}/800x/{{ .Params.image }} 800w, {{ .Site.Params.Imgurl }}/400x/{{ .Params.image }} 400w, {{ .Site.Params.Imgurl }}/1600x/{{ .Params.image }} 1600w, {{ .Site.Params.Imgurl }}/2100x/{{ .Params.image }} 2100w, {{ .Site.Params.Imgurl }}/3200x/{{ .Params.image }} 3200w" data-sizes="auto">
      {{ else }}<header class="intro-header lazyload" data-bgset="{{ .Site.Params.Imgurl }}/800x/home-bg.jpg 800w, {{ .Site.Params.Imgurl }}/400x/home-bg.jpg 400w, {{ .Site.Params.Imgurl }}/1600x/home-bg.jpg 1600w, {{ .Site.Params.Imgurl }}/2100x/home-bg.jpg 2100w, {{ .Site.Params.Imgurl }}/3200x/home-bg.jpg 3200w" data-sizes="auto">
    {{ end }}
      <div class="header-bg">
      <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
             <div class="title">
               <h1>{{ .Title }}</h1>
               <span class="meta">
                 {{ partial "meta.html" .}}
               </span>
               <hr class="small">
               <h2 class="subheading">{{ .Description }}</h2>
             </div>
            </div>
           </div>
        </div>
      </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container" id="post">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		{{ replace .Content "<table>" "<table class='table table-hover'>" | replaceRE "<img src=\"/img/([^\"]+[.].*)\" title=\"([^\"]+)\" /></p>" "<img src=\"https://imgs.networkchallenge.de/800x/$1\" title=\"$2\" srcset=\"data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==\" data-srcset=\"https://imgs.networkchallenge.de/800x/$1 800w, https://imgs.networkchallenge.de/400x/$1 400w, https://imgs.networkchallenge.de/1600x/$1 1600w, https://imgs.networkchallenge.de/2100x/$1 2100w\" data-sizes=\"auto\" class=\"gallery lazyload\" />" | markdownify }}
                  <hr class="margin">
                  {{ partial "comments.html" .}}
                </div>
            </div>
        </div>
    </article>

{{ partial "footer.html" .}}
