               <div class="post-preview">
                 <a href="{{ .Permalink }}">
                      <h2 class="post-title">{{ .Title | safeHTML }}</h2>
                    </a>
                    <!-- <p class="post-meta"> -->
                      <span class="meta">
                        {{ partial "meta.html" (dict "context" .)}}
                        </span>
                    <!-- </p> -->
                    <hr class="small">
                      {{ if isset .Params "coverimage" }}
                      <div class="clearfix">
                      <img src="{{ .Site.Params.Imgurl }}/160x/{{ .Params.Coverimage }}" class="pull-left gap-right" alt="...">
                      {{ end }}
                      <p>{{ .Description }}</p>
                      <a href="{{ .Permalink }}">mehr ...</a>
                      {{ if isset .Params "coverimage" }}
                      </div>
                      {{ end }}
                </div>
                <hr>
