    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <ul class="list-inline text-center">
                    {{ with .Site.Params.email }}
                      <li>
                        <a href="mailto:{{ . }}">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                    {{ end }}
                    {{ range .Site.Params.social }}
                    <li>
                      <a href="{{ .url }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ end }}
                  </ul>
                  <p class="copyright text-muted"><a href="/privacypolicy/index.html" title="Datenschutzerklärung">Datenschutzerklärung</a>
                    <br>Copyright © <a href="{{ absURL "about" }}">Andreas Groll</a> 2018</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ absURL "/js/bootstrap.min.js" }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ absURL "js/clean-blog.js" }}"></script>
    <script src="{{ absURL "js/lightgallery.min.js" }}"></script>
    <script>$(document).ready(function () {
    $('#post').lightGallery({
      selector: '.gallery'
    });
});</script>
</body>

</html>
