<!DOCTYPE html>
<html lang="{{ .context.Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- if .context.Description -}}
    <meta name="description" content="{{ .context.Description }}">
    {{- else -}}
    <meta name="description" content="{{ .context.Site.Params.description }}">
    {{- end -}}
    <meta name="author" content="{{ .context.Site.Params.author }}">

    <title>{{ .context.Title }} -- {{ .context.Site.Title }}</title>

    {{ if .context.RSSLink }}
    <link href="{{ .context.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .context.Site.Title }}" />
    <link href="{{ .context.RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .context.Site.Title }}" />
    {{ end }}

    <!-- Bootstrap Core CSS -->
    <link href="{{ absURL "/css/bootstrap.min.css" }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ absURL "/css/clean-blog.min.css" }}" rel="stylesheet">
    <link href="{{ absURL "/css/style.css" }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ absURL "/css/font-awesome.min.css" }}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ absURL "/img/favicon.png" }}">

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
	<script>
	window.addEventListener("load", function(){
	window.cookieconsent.initialise({
	  "palette": {
	    "popup": {
	      "background": "#000"
	    },
	    "button": {
	      "background": "#f1d600"
	    }
	  },
	  "position": "bottom-left",
	  "content": {
    "message": "Diese Website benutzt Cookies zur automatisierten Nutzerauswertung mit Google Analytics.",
    "dismiss": "Verstanden",
    "link": "Datenschutzerklärung",
    "href": "/privacypolicy/"
    }
	})});
	</script>

    <!-- End Cookie Consent plugin -->
    <script>
        function loadJS(u){var r=document.getElementsByTagName("script")[0],s=document.createElement("script");s.src=u;r.parentNode.insertBefore(s,r);}

        if(!window.HTMLPictureElement || !('sizes' in document.createElement('img'))){
            loadJS("{{ absURL "/js/ls.respimg.min.js" }}");
        }
    </script>
    <script src="{{ absURL "/js/ls.bgset.min.js" }}"></script>
    <script src="{{ absURL "/js/lazysizes.min.js" }}" async=""></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link type="text/css" rel="stylesheet" href="{{ absURL "/css/lightgallery.min.css" }}" />
    
  <script>
      var gaProperty = 'UA-259583-6';
      var disableStr = 'ga-disable-' + gaProperty;
      if (document.cookie.indexOf(disableStr + '=true') > -1) {
          window[disableStr] = true;
      }
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-259583-6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-259583-6', { 'anonymize_ip': true });
	</script>

    {{- if isset . "showmap" -}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    {{- end -}}
    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
        appId: "4373a84e-c094-48e0-9e5e-58d81c8fc1b9",
        });
    });
    </script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ .context.Site.BaseURL }}">{{ .context.Site.Title }}</a>
            </div>

            {{ partial "navbar.html" . }}
        </div>
        <!-- /.container -->
    </nav>
