<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- if isset .Params "description" -}}
    <meta name="description" content="{{ .Description }}">
    {{- else -}}
    <meta name="description" content="{{ .Site.Params.Description }}">
    {{- end -}}
    <meta name="author" content="{{ .Site.Params.author }}">

    <title>{{ .Title }} -- {{ .Site.Title }}</title>

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <!-- Bootstrap Core CSS -->
    <link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ .Site.BaseURL }}/css/clean-blog.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ .Site.BaseURL }}/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon.png">

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
	<script>
	window.addEventListener("load", function(){
	window.cookieconsent.initialise({
	  "palette": {
	    "popup": {
	      "background": "#000"
	    },
	    "button": {
	      "background": "#f1d600"
	    }
	  },
	  "position": "bottom-left",
	  "content": {
    "message": "Diese Website benutzt Cookies zur automatisierten Nutzerauswertung mit Google Analytics.",
    "dismiss": "Verstanden",
    "link": "Datenschutzerklärung",
    "href": "/privacypolicy/"
    }
	})});
	</script>	
    
    <!-- End Cookie Consent plugin -->
    <script>
        function loadJS(u){var r=document.getElementsByTagName("script")[0],s=document.createElement("script");s.src=u;r.parentNode.insertBefore(s,r);}

        if(!window.HTMLPictureElement || !('sizes' in document.createElement('img'))){
            loadJS("{{ .Site.BaseURL }}/js/ls.respimg.min.js");
        }
    </script>
    <script src="{{ .Site.BaseURL }}/js/ls.bgset.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/lazysizes.min.js" async=""></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script>
      var gaProperty = 'UA-259583-6';
      var disableStr = 'ga-disable-' + gaProperty;
      if (document.cookie.indexOf(disableStr + '=true') > -1) {
          window[disableStr] = true;
      }
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-259583-6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-259583-6', { 'anonymize_ip': true });
	</script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </div>

            {{ partial "navbar.html" . }}
        </div>
        <!-- /.container -->
    </nav>
