    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
      <div class="header-bg">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="site-heading">
              <div class="title">
               <h1>{{ .Site.Title }}</h1>
               <hr class="small">
               <!--{{ with .Site.Params.Description }}<span class="subheading">{{ . }}</span>{{ end }}-->
               <span class="subheading">Ich hasse das Chaos, aber das Chaos liebt mich. <a href="https://www.aphorismen.de/zitat/48718"><i class="fa fa-copyright" aria-hidden="true"></i></a></span>
             </div>
             </div>
           </div>
         </div>
       </div>
     </div>
    </header>