    <!-- Page Header -->
    <header class="intro-header lazyload" data-bgset="{{ .Site.Params.Imgurl }}/800x/home-bg.jpg 800w, {{ .Site.Params.Imgurl }}/400x/home-bg.jpg 400w, {{ .Site.Params.Imgurl }}/1600x/home-bg.jpg 1600w, {{ .Site.Params.Imgurl }}/2100x/home-bg.jpg 2100w" data-sizes="auto">
      <div class="header-bg">
       <div class="container">
         <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="site-heading">
              <div class="title">
               <h1>{{ .Title }}</h1>
               <hr class="small">
               <!--{{ with .Site.Params.Description }}<span class="subheading">{{ . }}</span>{{ end }}-->
               <span class="subheading">{{ .Description }}</span>
             </div>
             </div>
           </div>
         </div>
       </div>
     </div>
    </header>