{{ range first 1 (where .Page.Params.images "src" (.Get 0)) }}
{{ $alt := .alt | default .title }}
{{ $title := .title }}
<img src="https://imgs.networkchallenge.de/800x/{{ .src }}" alt="{{ $alt }}" title="{{ $title }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://imgs.networkchallenge.de/800x/{{ .src }} 800w, https://imgs.networkchallenge.de/400x/{{ .src }} 400w, https://imgs.networkchallenge.de/1600x/{{ .src }} 1600w, https://imgs.networkchallenge.de/2100x/{{ .src }} 2100w" data-sizes="auto" class="gallery lazyload" />
{{ end }}
